In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [10]:
from sqlalchemy import create_engine

In [14]:
conn_string = 'postgresql://postgres:Vijay1998@localhost:5432/Painting'
db = create_engine(conn_string)
conn = db.connect()

In [15]:
files = ['artist', 'canvas_size', 'image_link', 'museum_hours', 'museum', 'product_size', 'subject', 'work']
for file in files:
    df = pd.read_csv(f'C:\\Users\\vijay\\OneDrive\\Desktop\\python+postgre\\archive (8)\\{file}.csv')
    df.to_sql(file, con=conn, if_exists='replace', index=False)

In [16]:
df

,work_id,name,artist_id,style,museum_id
0,160228,Still Life with Flowers and a Watch,615,Baroque,43.0
1,160236,Still Life with Fruit and a Beaker on a Cock's...,615,Baroque,43.0
2,160244,Still Life with Fruit and a Goldfinch,615,Baroque,43.0
3,160252,Still Life with Fruit and Oysters,615,Baroque,43.0
4,160260,"Still Life with Fruit, Oysters, and a Porcelai...",615,Baroque,43.0
...,...,...,...,...,...
14771,8279,Weaning the Calf,794,American Art,35.0
14772,8283,"West Point, Prout's Neck",794,American Art,NaN
14773,8285,Winding Line,794,American Art,NaN
14774,184820,Untitled,620,Surrealism,NaN
14775,184829,Untitled,620,Surrealism,NaN